@model PCBuddy_Backend.Models.Gpu
@{
    ViewData["Title"] = "Delete GPU";
}

<div class="alert alert-danger shadow-sm">
    <h4 class="alert-heading">Are you sure?</h4>
    <p>
        Deleting <strong>
            @Model.Name
            @if (!string.IsNullOrEmpty(Model.Chipset) && !Model.Name.Contains(Model.Chipset, StringComparison.OrdinalIgnoreCase))
            {
                <span>(@Model.Chipset)</span>
            }
        </strong> (Soft Delete).
    </p>
    <hr>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        <input type="submit" value="Confirm Delete" class="btn btn-danger" />
    </form>
</div>